/*.asd {
    width: 20px;
    height: 20px;
    background-color: rebeccapurple;
    margin: auto;
    position: relative;
    top: 0px;
    transition-duration: 1.4s;
    transition-property: top, background;
}

.asd:hover {
    top: 40px;
    background: red;
}*/
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@800&display=swap');
*,*::after,*::before {
    margin: 0;
    box-sizing: border-box;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background: rgb(185,238,174);
background: radial-gradient(circle, rgba(185,238,174,1) 0%, rgba(148,187,233,1) 100%);
}
.row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    font-family: 'Barlow Condensed', sans-serif;
}

button {
    margin: 1rem;
    font-size: 1.5rem;
    border: none;
    background-color: transparent;
    border-radius: 1rem;
}

button:hover {
    background-color: rgba(128, 128, 128, 0.215);
    text-decoration: underline;
}

.saves {
    width: 50%;
    height: 25%;
    overflow-y: scroll;
    background-color: rgba(128, 128, 128, 0.225);
}

.saves div {
    text-align: center;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 2rem;
}

.saves p {
    font-size: 1rem;
    text-align: center;
    font-family: 'Barlow Condensed', sans-serif;
    border-bottom: 1px solid gray;
}

.saves p:last-child {
    border-bottom: none;
}